@use '../abstracts'as *;

.careers {
    font-size: fluid(12, 16, tiny, large);
    line-height: 1.5;

    &-table {
        display: grid;
    }

    &-table__row {
        display: flex;
        justify-content: space-between;

        &:not(:last-child) {
            margin-bottom: fluid(30, 80, tiny, large);
        }
    }

    &-table__cell {
        padding-right: 1rem;

        &:last-child {
            padding-right: fluid(0, 80, small, large);
        }
    }

    th.careers-table__cell {
        font-weight: 400;
        text-transform: uppercase;
    }

    &-table__name {
        font-weight: 600;
        color: $dark;
    }
}